<h1>Editing userprofile</h1>

<%= render 'form' %>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <%= link_to 'Show', @userprofile %> |
    <%= link_to 'Back', userprofiles_path %>
  </div>
</div>