<h1>Editing version</h1>

<%= render 'form' %>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <%= link_to 'Show', @version %> |
    <%= link_to 'Back', versions_path %>
  </div>
</div>