<h1>Editing status</h1>

<%= render 'form' %>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <%= link_to 'Show', @status %> |
    <%= link_to 'Back', statuses_path %>
  </div>
</div>