#header > p {
    margin: 0;
}

.defaultTable > tbody > tr > th,td {
    padding: 10px;
    margin: 5px;
    border: solid 1px #000000;
    background-color: #faf2cc;
}

#content{
    background: #D1D1D1;
    border-radius: 10px;
    margin-bottom: 10px;
}

#header{
    background: #8ADE52;
}

#footer{
    text-align: center;
    background: #D1D1D1;
    height: 75px;
    position: relative;
    border-radius: 10px;
    padding: 25px;
}

/* Menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    background: #444;
}

nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: .3s background-color;

}

nav a:visited {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a {
    padding: 0 15px 0 15px;
}

nav ul li a:visited, nav ul li a:focus {
    text-decoration: none;
    color: #ffffff;
}

nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
    display: block;
}

nav li ul li {
    display: block;
}

nav a:hover {
    background-color: #777777;
    text-decoration: none;
    width: inherit;
}

nav ul li:hover ul {
    display: block;
    z-index: 999;
}

nav ul li ul li {
    background: inherit;
}

 /*Sub Menus*/
nav li li {
    font-size: 1em;
}

/* -- Menu End -- */

.footer-links {
    list-style-type: none;

}
.footer-links li {
    display: inline-block;
    padding-left: 5px;
}

h3.heading {
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 10px;
}
