<h1>Edit A Role</h1>

<%= render 'form' %>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <%= link_to 'Show', @role %> |
    <%= link_to 'Back', roles_path %>
  </div>
</div>